	<include file="public/top"/>
</head>
<body style="background-color:#fff">
<div class="wap-container">
	<div class="panel">
		<div class="panel-body">
			<form action="" method="post" class="form form-horizontal" id="form-data-add">
				<input type="hidden" name="id" value="{{$vo.id}}">
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">栏目分组：</label>
					<div class="form-controls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
						<select class="select" name="pid" size="1">
						<option value="0">顶级菜单</option>
						{{$options|raw}}
						</select>
						</span> </div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>栏目名称：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{{$vo.title}}" placeholder="" id="title" name="title">
					</div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">分类名称：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" placeholder="" id="" name="">
					</div>
				</div>
				
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
					<div class="formControls col-xs-6 col-sm-7">
						<input type="text" class="input-text" disabled="true" >
						<div class="img-box a0b923820dcc509a-img">
						<volist name="$vo['thumb']" id="ig">
						<div class='img-div'>
							<img class="viewImgAttr" src="{{$vo.web_url}}{{$ig}}" />
	    					<input type='hidden' value="{{$ig}}" name='images[]' />
	    					<em class='close' title='删除这张图片' onclick='deleteMultiImage(this)'>×</em>
						</div>
						</volist>
						</div>
						
					</div>
					<div class="formControls col-xs-2 col-sm-3"><a title='图片显示' href='javascript:;' onclick="ajaxpage('1','a0b923820dcc509a-img');" class='btn btn-secondary radius' style='text-decoration:none'>选择图片</a></div>
				</div>
				
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">备注：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<textarea name="describe" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)">{{$vo.describe}}</textarea>
						<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<include file="public/footer-style"/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	/* 通过iCheck插件，美化checkbox */
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	/* 表单验证，提交 */
	$("#form-data-add").validate({
		rules:{
			title:{
				required:true,
			},
			sex:{
				required:true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{{:url('updateByAjax')}}",
				dataType:"json",
				success: function(data){
                    if (data.code == 10000) {
                        layer.msg(data.message,{icon:1,time:1000});
                        setTimeout('parent.location.reload();',1500);
                    }else{
                        layer.msg(data.message,{icon:5,time:1000});
                     }
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('系统繁忙!',{icon:5,time:1000});
                },
			});
			
		}
	});
});
</script>
<include file="public:img" />
<!--/请在上方写此页面业务相关的脚本-->
<include file="public/footer"/>
