<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-body">
				<div class="page-container img-dialog-box" >
			    <div class="text-c">
			       <form method="post" id="uploadForm" class="form form-horizontal" enctype="multipart/form-data">
			        <div class="cl pd-5 bg-1 bk-gray mt-0">
			            <span class="r">
			                <a href="javascript:;" class="btn btn-secondary radius "><i class="Hui-iconfont">&#xe600;</i><label for="upfile">图片上传</label>
			                <input style="display: none;" type="file" id="upfile" name="image[]" multiple="true" class="file" accept="image/gif,image/jpg,image/jpeg,image/bmp,image/png,image/x-ico"/> </a>
			            </span>
			            <span class="r" style="margin-right: 4px;" ><a href="javascript:;" class="btn btn-danger radius">删除</a></span>
			        </div>
			        </form>
			    </div>
			    <div class="img-list" >
				    <div class="img-list-div"></div>
				    <div class="page-button" style="margin-bottom:40px;"></div>
			    </div>

			</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary submit" data-dismiss="modal">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>
<style type="text/css">


</style>

<script type="text/javascript">
//初始化编辑器对象
obj = $('#editor');
if (obj.length > 0) {
    var ue = UE.getEditor('editor');
}
var url = '';       //全局变量
//图片管理器
ajaxpage = function(page,tag){
	$("#modal-demo").modal("show");
	$('.submit').attr('data-tag',tag);
	$.ajax({
		url:'{{:url('Images/source')}}',
		type:'get',
		data:{'page':page},
        dataType: "json",
		success:function(data){
            //console.log(data.data.page);
            
            url = data.data.web_url;
			$('.page-button').empty().append(data.data.page);
			data = data.data.list;
			str = '<ul>';

			$.each(data, function(i, d){
                str += '<li class="clearfix">';
				str += "<div class='maskWraper'>";
				str += "<p class='img'><img alt='"+d.title+"' title='"+d.title+"' class='img-src' onclick=\"add_img_attr(this);\" src='"+d.source+"'/></p>";
				str += "<div class='maskBar text-c title'><span class='l' style='width:140px; overflow='hidden'>"+d.title+"</span><span class='r del' onclick='_del(this,"+d.id+");'><i class='Hui-iconfont'>&#xe609;</i></span></div>";
				str += "<div class='attr_module' onclick='mov_img_attr(this)'><span class='r' ><i class='Hui-iconfont'>&#xe676;</i></span></div>";
				str += "</div>";
				str += '</li>';
               });

			str += '</ul>';
			$('.img-list-div').empty().append(str);
		},
		serror:function(){
			layer.msg('系统繁忙!',{icon:5,time:1000});
		}
	},'json')
}

//选择图片
add_img_attr = function(e){
	path = $(e).attr('src');
    var s = $(e).attr('data-select',path);
    if (s.length > 0) {
        $(e).parents('.maskWraper').children('.attr_module').show();
    }
}
//清除选择
mov_img_attr = function(e){
    $(e).parent().find('.img-src').removeAttr('data-select');
    $(e).parent().find('.attr_module').hide();
}

//隐藏样式
clear_attr_module = function(e){
    e?e.hide():$('.attr_module').hide();
    $('.img-src').removeAttr('data-select');
    
}
//图片上传
$(function(){
    $('#upfile').change(function(){
        var formData = new FormData($('#uploadForm')[0]);
        //表单验证
        $.ajax({
            url:"{{:url('images/upload')}}",
            type:'post',
            data:formData,
            cache: false,
            processData: false,
            contentType: false,
            dataType:"json",
            success:function(data){
                if (data.code == 10000) {
                    layer.msg(data.message,{icon:1,time:1000});
                }else{
                    layer.msg(data.message,{icon:5,time:1000});
                 }
            },
            error:function(){
                    layer.msg('系统繁忙!',{icon:5,time:1000});
            }
        })
    })
})

/*单独删除*/
function _del(e,id){
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'POST',
            url: "{{:url('images/deleteByAjax')}}",
            data:{
                id: id
            },
            dataType: 'json',
            success: function(data){
                //console.log(data.code);return false;
                if(data.code == 10000){
                    layer.msg(data.message,{icon: 1,time:1000});
                    setTimeout('location.reload();',1000);
                }else{
                    layer.msg(data.message,{icon: 5,time:1000});
                }
            },
            error:function(data) {
                alert("系统繁忙");
                location.reload();
            },
        });
    });
}


//将图片赋值到input框
$(function(){
    $('.submit').click(function(){
        var id_array = new Array();
        $('.img-src').each(function(i){
            var img = $(this).attr('data-select');
            if (img) {
                id_array.push(img);//向数组中添加元素
            }
        });
    
        if (id_array.length < 1) 
        {
            layer.msg('没有选择任何图片',{icon: 5,time:1000});
        }else{
            tran(id_array,$('.submit').attr('data-tag'));
        }


    });
});

//将图片显示到前端
function tran(str,tag){

    if (tag == 'editor') {      //传入编辑器
        temp = '';
        for(i = 0;i < str.length;i++)
        {
            temp += "<img src='"+url+str[i]+"' width='100%'' height='100%'' alt='' />";

        }
        //将信息复制到编辑栏里
        $(document).ready(function(){
            ue.ready(function() {//编辑器初始化完成再赋值
                ue.setContent(temp);  //赋值给UEditor
            });
        });
        
    }else{                  //传入自定义框
        temp = '';
        for(i = 0;i < str.length;i++)
        {
            temp += "<div class='img-div'>";
            temp += "<img class='viewImgAttr' src="+str[i]+" />";
            temp += "<input type='hidden' value="+str[i]+" name='images[]' />";
            temp += "<em class='close' title='删除这张图片' onclick='deleteMultiImage(this)'>×</em>";
            temp += "</div>";
        }
        $('.'+tag).append(temp);
    }
}


</script>
