<include file="public/top"/>
</head>
<body style="background-color:#fff">
	<div class="wap-container">
		<div class="panel">
			<div class="panel-body">
				<form action="" method="post" class="form form-horizontal" id="form-data-add">
				<input type="hidden" name="id" value="{{$vo.id}}">
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>角色名称：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{{$vo.title}}" placeholder="" id="title" name="title" datatype="*4-16" nullmsg="用户账户不能为空">
					</div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">备注：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{{$vo.note}}" placeholder="" id="note" name="note">
					</div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">排序：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{{$vo.sort}}" placeholder="" id="sort" name="sort">
					</div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">网站角色：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<volist name="auth" id="m">
						
						<dl class="Hui-admin-permission-list">
							<dt>
								<label>
									<input type="checkbox" {{$m['check']?$m.check:''}} value="{{$m.id}}" name="rules[]" id="user-Character-{{$m.id}}">
									{{$m.title}}</label>
							</dt>
							
							<volist name="$m['child']" id="c">
							<neq name="$c" value="">
							<dd>
								<dl class="clearfix Hui-admin-permission-list2">
									<dt>
										<label class="">
											<input type="checkbox" {{$c['check']?$c.check:''}} value="{{$c.id}}" name="rules[]" id="user-Character-{{$m.id}}-{{$c.id}}">
											{{$c.title}}</label>
									</dt>
									<dd>
									<volist name="$c['child']" id="a">
										<neq name="$a" value="">
										<label class="">
											<input type="checkbox" {{$a['check']?$a.check:''}} value="{{$a.id}}" name="rules[]" id="user-Character-{{$m.id}}-{{$c.id}}-{{$a.id}}">
											{{$a.title}}
											</label>
										</neq>
									</volist>
									</dd>
								</dl>
							</dd>
							</neq>
							</volist>
						</dl>
						</volist>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button type="submit" class="btn btn-success radius" id="admin-role-save"><i class="icon-ok"></i> 确定</button>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
	<include file="public/footer-style"/>


	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript">
	$(function(){
		$(".Hui-admin-permission-list dt input:checkbox").click(function(){
			$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
		});
		$(".Hui-admin-permission-list2 dd input:checkbox").click(function(){
			var l =$(this).parent().parent().find("input:checked").length;
			var l2=$(this).parents(".Hui-admin-permission-list").find(".Hui-admin-permission-list2 dd").find("input:checked").length;
			if($(this).prop("checked")){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
				$(this).parents(".Hui-admin-permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
			}
			else{
				if(l==0){
					$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
				}
				if(l2==0){
					$(this).parents(".Hui-admin-permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
				}
			}
		});

		$("#form-data-add").validate({
			rules:{
				title:{
					required:true,
				},
			},
			onkeyup:false,
			focusCleanup:true,
			success:"valid",
			submitHandler:function(form){
				$(form).ajaxSubmit({
				type: 'post',
				url: "{{:url('updateByAjax')}}",
				dataType:"json",
				success: function(data){
                    if (data.code == 10000) {
                        layer.msg(data.message,{icon:1,time:1000});
                        setTimeout('parent.location.reload();',1500);
                    }else{
                        layer.msg(data.msg,{icon:5,time:1000});
                     }
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('系统繁忙!',{icon:5,time:1000});
                },
			});
			}
		});
	});
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
