<include file="public/top"/>
</head>
<body>
	<div class="wap-container">
		<include file="public/crumbs" />
		<article class="Hui-admin-content clearfix">
			<div class="panel">
				<div class="panel-body">
					<form action="" method="post" class="form form-horizontal" id="form-data-add">
					<input type="hidden" name="id" value="{{$vo.id}}">
						<div id="tab-system" class="HuiTab">
							<div class="tabBar cl">
							<span>常用设置</span>
							</div>
							<div class="tabCon">
								<div class="row clearfix">
									<label class="form-label col-xs-4 col-sm-2">
										<span class="c-red">*</span>
										功能选择：</label>
									<div class="formControls col-xs-8 col-sm-9">
										<ul class="system-config-role-checkbox">
											<volist name="list" id="v">
												<li data-id="{{$v.id}}" style="float: left; padding-right: 10px;">
													<input id="{{$v.id}}" <if condition="$v['mark'] eq '1'">checked</if>
													type="checkbox" name="ids[]"
													value="{{$v.id}}">
													<label for="{{$v.id}}">{{$v.title}}</label>
												</li>
											</volist>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
										<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
										<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
									</div>
						</div>
					</form>
				</div>
			</div>
		</article>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<include file="public/footer-style"/>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/static/business/js/main.js"></script>
	<script type="text/javascript">
	$(function(){
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});
		$("#tab-system").Huitab();

		$("#form-data-add").validate({
			rules: {
				ids: {
					required: true,
				}
			},
			onkeyup: false,
			focusCleanup: true,
			success: "valid",
			submitHandler: function(form){
				$(form).ajaxSubmit({
				type: 'post',
				url: "{{:url('updateByAjax')}}",
				dataType:"json",
				success: function(data){
                    if (data.code == 10000) {
                        layer.msg(data.message,{icon:1,time:1000});
                    }else{
                        layer.msg(data.msg,{icon:5,time:1000});
                     }
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('系统繁忙!',{icon:5,time:1000});
                },
			});
			}
		});
	});
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
