	<include file="public/top"/>
</head>
<body style="background-color:#fff">
<div class="wap-container">
	<div class="panel">
		<div class="panel-body">
			<form class="form form-horizontal" id="form-data-add">
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
							<div class="form-controls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="" placeholder="" id="title" name="title">
							</div>
						</div>
						
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
							<div class="form-controls col-xs-8 col-sm-9"> <span class="select-box" >
								<select class="select" name="aid" size="1">
								<option value="0">分类栏目</option>
								{{$options|raw}}
								</select>
								</span> </div>
						</div>
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章类型：</label>
							<div class="form-controls col-xs-8 col-sm-9">
								<span class="select-box">
									<select name="" class="select">
										<option value="" selected>全部类型</option>
										<option value="1">帮助说明</option>
										<option value="2">新闻资讯</option>
									</select>
								</span>
							</div>
						</div>
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>排序值：</label>
							<div class="form-controls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="0" placeholder="" id="sort" name="sort">
							</div>
						</div>
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
							<div class="form-controls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="" placeholder="" id="keywords" name="keywords">
							</div>
						</div>
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章摘要：</label>
							<div class="form-controls col-xs-8 col-sm-9">
								<textarea cols="" rows="" class="textarea textarea-article"  placeholder="说点什么...最少输入10个字符" name="describe"></textarea>
							</div>
						</div>
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章作者：</label>
							<div class="form-controls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="" placeholder="默认为当前登陆用户" id="author" name="author">
							</div>
						</div>
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章来源：</label>
							<div class="form-controls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="" placeholder="" id="source" name="source">
							</div>
						</div>
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2">允许评论：</label>
							<div class="form-controls col-xs-8 col-sm-9 skin-minimal">
								<div class="check-box">
									<input type="checkbox" id="is_comment" name="is_comment" checked>
									<label for="isomment">&nbsp;</label>
								</div>
							</div>
						</div>
						
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
							<div class="formControls col-xs-6 col-sm-7">
								<input type="text" class="input-text" disabled="true" >
								<div class="img-box a0b923820dcc509a-img"></div>
							</div>
							<div class="formControls col-xs-2 col-sm-3"><a title='图片显示' href='javascript:;' onclick="ajaxpage('1','a0b923820dcc509a-img');" class='btn btn-secondary radius' style='text-decoration:none'>选择图片</a></div>
						</div>
						<div class="row clearfix">
							<label class="form-label col-xs-4 col-sm-2">文章内容：</label>
							<div class="form-controls col-xs-8 col-sm-9">
								<script id="content" type="text/plain" style="width:100%;height:400px;"></script>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
								<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
								<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
								<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
							</div>
						</div>
					</form>

		</div>
	</div>
</div>
<include file="public/footer-style"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>


<script type="text/javascript">
$(function(){
	/* 通过iCheck插件，美化checkbox */
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	// 是否评论
	$('#is_comment').on('ifChecked', function(event){
		$("#comment-datetime-start,#comment-datetime-end").attr("disabled",false).removeClass("disabled");
	});
	$('#is_comment').on('ifUnchecked', function(event){
		$("#comment-datetime-start,#comment-datetime-end").attr("disabled",true).addClass("disabled");
	});


	// 文章摘要
	$(".textarea-article").Huitextarealength({
		minlength: 10,
		maxlength: 500
	});


	/* 表单验证，提交 */
	$("#form-data-add").validate({
		rules:{
			title:{
				required:true,
			},
			mca:{
				required:true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{{:url('addByAjax')}}",
				dataType:"json",
				success: function(data){
                    if (data.code == 10000) {
                        layer.msg(data.message,{icon:1,time:1000});
                        setTimeout('parent.location.reload();',1500);
                    }else{
                        layer.msg(data.msg,{icon:5,time:1000});
                     }
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('系统繁忙!',{icon:5,time:1000});
                },
			});
			
		}
	});

	var ue = UE.getEditor('content');
});

</script>
<include file="public:img" />
<!--/请在上方写此页面业务相关的脚本-->
<include file="public/footer"/>
