	<include file="public/top"/>
</head>
<body style="background-color:#fff">
	<div class="wap-container">
		<div class="panel">
			<div class="panel-body">
				<form action="" method="post" class="form form-horizontal" id="form-data-add">
				<input type="hidden" name="id" value="{{$vo.id}}">
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上级编号：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" placeholder="没有可不填写" name="pid" id="pid" value="{{$vo.pid}}">
					</div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户账号：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{{$vo.username}}" placeholder="15888888888" id="username" name="username">
					</div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">用户昵称：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{{$vo.nickname}}" placeholder="" id="nickname" name="nickname">
					</div>
				</div>
				<!-- <div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>初始密码：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" placeholder="{{$vo.password}}" name="password" id="password">
					</div>
				</div> -->
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>修改密码：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" placeholder="" name="confirmpassword" id="confirmpassword">
					</div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性别：</label>
					<div class="form-controls col-xs-8 col-sm-9 skin-minimal">
						<div class="radio-box">
							<input name="sex" type="radio" id="sex-1" value="1" <eq name="$vo['sex']" value="1"> checked</eq>>
							<label for="sex-1">男</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" name="sex" value="0" <eq name="$vo['sex']" value="0"> checked</eq>>
							<label for="sex-2">女</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-3" name="sex" value="2" <eq name="$vo['sex']" value="2"> checked</eq>>
							<label for="sex-3">保密</label>
						</div>
					</div>
				</div>
				
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">邮箱：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" placeholder="@" name="email" id="email" value="{{$vo.email}}">
					</div>
				</div>
				
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户地区：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<div id="distpicker3">
						  <select name="province" class="select-box" style="width: 150px;"></select>
						  <select name="city" class="select-box" style="width: 150px;"></select>
						  <select name="area" class="select-box" style="width: 150px;"></select>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<label class="form-label col-xs-4 col-sm-2">细地址：</label>
					<div class="form-controls col-xs-8 col-sm-9">
						<input type="text" class="input-text" placeholder="" name="detail" id="detail" value="{{$vo.detail}}">
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<include file="public/footer-style"/>
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jQueryDistpicker20160621/js/distpicker.data.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jQueryDistpicker20160621/js/distpicker.js"></script>
	<script type="text/javascript" src="{{$Think.config.global_constant['__PUBLIC_ADMIN__']}}/lib/jQueryDistpicker20160621/js/main.js"></script>
	<script type="text/javascript">
		$("#distpicker3").distpicker({
		  province: "{{$vo.province}}",
		  city: "{{$vo.city}}",
		  district: "{{$vo.area}}"
		});

		$(function(){
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			$("#form-data-add").validate({
				rules:{
					username:{
						required:true,
						minlength:2,
						maxlength:11
					},
					sex:{
						required:true,
					},
					email:{
						required:true,
						email:true,
					}
				},
				onkeyup:false,
				focusCleanup:true,
				success:"valid",
				submitHandler:function(form){
					$(form).ajaxSubmit({
					type: 'post',
					url: "{{:url('updateByAjax')}}",
					dataType:"json",
					success: function(data){
	                    if (data.code == 10000) {
	                        layer.msg(data.message,{icon:1,time:1000});
	                        setTimeout('parent.location.reload();',1500);
	                    }else{
	                        layer.msg(data.msg,{icon:5,time:1000});
	                     }
	                },
	                error: function(XmlHttpRequest, textStatus, errorThrown){
	                    layer.msg('系统繁忙!',{icon:5,time:1000});
	                },
				});
				}
			});
		});
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
